In [100]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
import pandas as pd

In [41]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\User\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [66]:
url = 'https://redplanetscience.com'
browser.visit(url)
# Optional delay for loading page
browser.is_element_present_by_css('div.list_text',wait_time = 1)

True

In [67]:
# browser.quit()

In [77]:
html = browser.html
news_soup = bs(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text')
print(slide_elem)

<div class="list_text">
<div class="list_date">June 23, 2021</div>
<div class="content_title">NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities</div>
<div class="article_teaser_body">Starting July 27, news activities will cover everything from mission engineering and science to returning samples from Mars to, of course, the launch itself.</div>
</div>

In [76]:
article = slide_elem.find('div',class_='content_title').get_text()
summary = slide_elem.find('div', class_='article_teaser_body').get_text()
print(article)
print(summary)

NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities
Starting July 27, news activities will cover everything from mission engineering and science to returning samples from Mars to, of course, the launch itself.

## Image scraping

In [88]:
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [89]:
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [97]:
html = browser.html
image_soup = bs(html,'html.parser')

In [98]:
image_url_rel = image_soup.find('img',class_='fancybox-image').get('src')

In [99]:
final_image_url = f'https://spaceimages-mars.com/{image_url_rel}'
print(final_image_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

## Table scraping

In [102]:
mars_facts_df = pd.read_html('https://galaxyfacts-mars.com')[0]
mars_facts_df.columns=['description','Mars','Earth']
mars_facts_df.set_index('description',inplace=True)
mars_facts_df.head()

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km

In [106]:
mars_facts_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [107]:
browser.quit()